@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* Основные */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.button {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #444444;
  padding: 0.5em 2em;
}

.button::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
}

.button:hover:after {
  height: 40px;
}

.button:active:after {
  height: 40px;
  background-color: #FFCC33;
}

.buttons-status:hover {
  opacity: 0.6;
}

.buttons-status:active {
  opacity: 0.3;
}

.buttons-status:focus {
  box-shadow: inset 0 0 0 2px AF4FFF;
  outline: none;
}

.text-title {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Шапка */

.page-header {
  background-color: #FFE17F;
  min-height: 300px;
  margin-top: 40px;
}

.page-header-catalog {
  background-color: #FFE17F;
  min-height: 186px;
  margin-top: 40px;
  margin-bottom: 35px;
}

.navigation {
  display: flex;
  flex-direction: column;
  margin-top: -25px;
  margin-right: 60px;
  margin-left: 60px;
}

.logo {
  margin-top: 4px;
  margin-bottom: 30px;
}

.search-site {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 359px 160px;
  grid-template-rows: 40px;
  width: 517px;
  height: 40px;
  margin-right: 26px;
  margin-bottom: 45px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: inherit;
}

.navigation-user,
.navigation-site,
.navigation-site-list,
.navigation-catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-search-user {
  display: flex;
}

.navigation-user {
  margin-left: auto;
}

.navigation-user-link {
  position: relative;
  box-sizing: border-box;
  display: flex;
  padding: 5px 0;
  font-family: inherit;
  font-weight: 400;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #dbdbdb;
}

.login {
  width: 231px;
  padding-left: 26px;
}

.login .navigation-icon {
  right: auto;
  margin: auto 0;
}

.compare {
  margin-left: 26px;
  padding-left: 22px;
}

.compare .navigation-icon {
  right: auto;
  margin: auto 0;
}

.basket {
  margin-left: 33px;
  padding-left: 28px;
}

.basket .navigation-icon {
  right: auto;
  margin: auto 0;
}

.navigation-site-link {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  margin: 0;
}

.navigation-catalog {
  margin-right: auto;
}

.navigation-catalog-button {
  position: relative;
  background-color: #FFE17F;
  border: none;
  padding: 0;
  cursor: pointer;
}

.navigation-catalog-button .navigation-site-link {
  padding-right: 65px;
}

.navigation-catalog-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  margin: auto;
  opacity: 0.3;
}

.navigation-catalog-icon:hover {
  opacity: 1;
}


.navigation-site-item {
  margin-left: 45px;
}

/* Лучшие предложения */

.top-item {
  margin-top: -150px;
  margin-bottom: 70px;
}

.slider {
  display: flex;
  position: relative;
}

.slider-left {
  display: flex;
  position: relative;
  width: 560px;
  margin-right: 40px;
}

.slider-button {
  position: absolute;
  width: 20px;
  height: 60px;
  cursor: pointer;
  border: none;
  background: transparent;
  margin: auto;
}

.slider-prev {
  top: 211px;
  right: auto;
  bottom: auto;
  left: 30px;
}

.slider-next {
  top: 211px;
  right: auto;
  bottom: auto;
  left: 540px;
}

.slider-right {
  position: relative;
  width: 560px;
}

.slider-number {
  position: absolute;
  display: block;
  padding: 0;
  margin-top: 29px;
  margin-right: 49px;
  margin-left: auto;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 180px;
  line-height: 129px;
  color: #FFFFFF;
}

.slider-title {
  margin-top: 121px;
  margin-bottom: 29px;
}

.slider-text {
  margin-bottom: 51px;
}

.button-pagination {
  display: flex;
  margin-bottom: 49px;
}

.slider-pagination {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
}

.slider-pagination-item {
  margin-left: 20px;
}

.slider-pagination-button-current {
  position: relative;
  border: none;
  background: transparent;
}

.slider-pagination-button-current::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 12px;
  width: 12px;
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button {
  position: relative;
  border: none;
  background: transparent;
}

.slider-pagination-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 8px;
  width: 8px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.specifications-list {
  display: flex;
  padding: 0;
}

.specifications-item {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.specifications-value {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 12px;
}

.specifications-name {
  font-size: 16px;
  line-height: 30px;
}

/* Категории товаров */

.product-categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
}

.product-categories-item {
  display: flex;
  margin: 0;
  margin-right: 40px;
  width: 160px;
  min-height: 253px;
}

.product-categories-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #444444;
  text-decoration: none;
}

.product-categories-item {
  display: flex;
}

.product-categories-icon {
  background-color: #FFE17F;
  Width: 160px;
  Height: 160px;
  margin-bottom: 33px;
}

.product-categories-title {
  margin: 0;
}

.glasses {
  background-image: url("../images/icons_main/glasses.svg");
}

.monopod {
  background-image: url("../images/icons_main/monopod.svg");
}

.camera {
  background-image: url("../images/icons_main/camera.svg");
}

.fitnes-braslet {
  background-image: url("../images/icons_main/fitnes_braslet.svg");
}

.watch {
  background-image: url("../images/icons_main/watch.svg");
}

.quadcopter {
  background-image: url("../images/icons_main/quadcopter.svg");
}

/* Доставка, гарантия, кредит */

.advantages {
  position: relative;
}

.advantages::after {
  position: absolute;
  content: "";
  background-color: #F0F0F0;
  min-width: 1160px;
  min-height: 289px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 102px;
  z-index: -2;
}

.advantages-content {
  display: grid;
  grid-template-columns: 280px 600px 1fr;
  margin-bottom: 144px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #444444;
}

.advantages-list::after {
  position: absolute;
  content: "";
  background-color: #000000;
  width: 7px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 280px;
  margin: auto;
}

.advantages-item {
  margin-bottom: 35px;
}

.advantages-button-style {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.advantages-item:first-child {
  margin-top: 64px;
}

.advantages-item:last-child {
  margin-bottom: 65px;
}

.advantages-button-current {
  position: relative;
  color: #FFE17F;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0.5em 1em;
}

.advantages-button-current::after {
  position: absolute;
  content: "";
  background-color: #000000;
  width: 280px;
  height: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

.advantages-button {
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  width: 160px;
  padding: 0.5em 1em;
}

.advantages-button::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
}

.advantages-description .text-title {
  margin-bottom: 34px;
}

.advantages-description {
  padding-top: 72px;
  padding-left: 125px;
}

.advantages-img {
  margin: auto;
  margin-right: 63px;
}

/* Доставка под заказ */

.delivery-under-the-order {
  position: relative;
  width: 1160px;
  height: 100px;
  padding: 0;
  margin-bottom: 70px;
  background-color: #F0F0F0;
  border: none;
  cursor: pointer;
}

.delivery-under-the-order:hover:after {
  background-color: #FFC700;
}

.delivery-under-icon:hover {
  opacity: 1;
}

.delivery-under-the-order:active {
  opacity: 0.3;
}

.delivery-under-the-order::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
}

.delivery-under-the-order::before {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  margin-right: 42px;
  margin-bottom: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
}

.delivery-under-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 35px;
  margin-left: 39px;
  z-index: 1;
}

.delivery-under-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 44px;
  margin-right: 62px;
  margin-left: auto;
  background-color: #000000;
  opacity: 0.3;
  z-index: 1;
}

.button-delivery {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  color: black;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}


/* о нас, контакты */

.company-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 98px;
  margin-bottom: 80px;
}

.text-small-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.company-content-title {
  margin-bottom: 48px;
}

.content-text {
  margin: 0;
  margin-bottom: 30px;
}

.about-company {
  position: relative;
  width: 465px;
  padding-top: 47px;
}

.about-company::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 84px;
  height: 7px;
  background-color: #000000
}

.delivery-company-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.delivery-company-item {
  position: relative;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 19px;
  letter-spacing: -0.02em;
  padding-left: 34px;
  margin-left: 3px;
}

.delivery-company-item:last-child {
  margin-bottom: 38px;
}

.about-company .button {
  padding: 0.5em 1.5em;
  box-sizing: content-box;
  }

.delivery-company-item::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 8px;
  height: 8px;
  margin: auto 0;
  border-radius: 50%;
  background-color: #FFC700;
}

.contacts {
  position: relative;
  padding-top: 47px;
}

.contacts::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 84px;
  height: 7px;
  background-color: #000000
}

/* Подпишитесь на расылку */

.newsletter {
  background-color: #F0F0F0;
  min-width: 1160px;
  padding-top: 64px;
  padding-bottom: 56px;
}

.mail-info {
  display: grid;
  grid-template-columns: 607px 1fr;
  margin: 0;
  margin-bottom: 144px;
}

.mail-info .text-title {
  margin-left: 7px;
}

.mail-info-text {
  margin: 0;
  margin-top: 10px;
}

.mail-content {
  display: flex;
}

.newsletter-form {
  box-sizing: border-box;
  width: 810px;
  height: 57px;
}

.it-for-free {
  margin: 0;
  margin-left: auto;
}

/* Подвал */

.page-footer {
  background-color: #444444;
  min-width: 1160px;
}

.page-footer-content {
  display: flex;
}

.footer-logo {
  margin-top: 62px;
  margin-bottom: 35px;
}

.footer-address {
  width: 317px;
  margin: 0;
  margin-right: 40px;
}

.about-text {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
}

.footer-navigation-social {
  display: flex;
  flex-direction: column;
  margin-right: 183px;
}

.footer-navigation-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-navigation-list {
  display: flex;
  justify-content: space-between;
  width: 444px;
  margin-top: 137px;
  margin-bottom: 62px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 61px;
}

.footer-social-item {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-tell-html-link {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0;
  margin-top: 140px;
  padding: 0;
}

.tell-text {
  margin-bottom: 63px;
  margin-left: auto;
}

.htmlacademy-link {
  margin-left: auto;
}

/* Страница каталога */

/* Хлебные крошки */

.text-title-catalog {
  margin-left: 60px;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 35px;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
  margin-right: 36px;
}

.catalog-page {
  background-color: #F0F0F0;
}

.catalog-content {
  display: flex;
}

.filter {
  width: 200px;
  margin: 0 60px;
}

/* Основная площадь каталога */

.catalog-main {
  width: 840px;
}

/* Сортировка */

.select-control {
  display: flex;
}

.select-control-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 25px 40px;
}

.select-control-list {
  margin-left: 166px;
}

.select-control-list {
  border: 0;
  background-color: #F0F0F0;
}

.button-select {
  width: 10px;
  margin-left: auto;
}

/* Список товаров */

.product {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding-top: 70px;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 44px 40px;
  width: 760px;
  list-style-type: none;
}

.product-name-price {
  display: flex;
}

.product-card-title {
  width: 226px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 0;
  margin-top: 32px;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #000000;
  margin: 0;
  margin-top: 32px;
  margin-left: auto;
}

.product-card-link {
  text-decoration: none;
}


/* загрузить ещё */

.pagination-show-more {
  display: block;
  width: 760px;
  height: 55px;
  margin: 44px 40px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: 3px solid #E5E5E5;
}

/* Назад вперед */

.pagination {
  display: flex;
  width: 760px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 78px;
  list-style-type: none;
  background-color: #EBEBEB;
}

.pagination-button {
  display: block;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 25px;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
}

.pagination-next {
  margin-left: auto;
}

.pagination-number {
  padding: 10px;
  margin: auto 0;

}
